$backgroundColor: white;
$shadow: 1px 1px 5px 1px lightgray;
$themeColor: gray;
$headerHeight: 3rem;
$footerHeight: 3rem;

html,
body {
  padding: 0;
  margin: 0;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color {
  color: $themeColor;
}

.main {
  margin-top: $headerHeight;
  background-color: $backgroundColor;
  min-height: calc(100vh - $headerHeight - $footerHeight);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 2px;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  background-color: ghostwhite;
  box-shadow: $shadow;
}

.footer {
  padding: 2px;
  width: 100%;
  height: $footerHeight;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 30px;
  height: 30px;
  border: solid 4px cornflowerblue;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
