
@media screen and (min-width: 1007px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 21rem;
    overflow: hidden;
    position: relative;
  }

  .welcome {
    font-size: 100px;
    position: absolute;
    top: 6rem;
    left: 6rem;
  }

  .box {
    width: 3rem;
    height: 3rem;
    z-index: 1;
  }
}

@media screen and (min-width: 640px) and (max-width: 1007px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 14rem;
    overflow: hidden;
    position: relative;
  }

  .welcome {
    font-size: 80px;
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  .box {
    width: 2rem;
    height: 2rem;
    z-index: 1;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 6rem;
    overflow: hidden;
    position: relative;
  }

  .welcome {
    font-size: 40px;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .box {
    width: 1rem;
    height: 1rem;
    z-index: 1;
  }
}
